
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditTalkingEvent</title>
</head>
<body>
    <div id="dialog-form2" title="Update Event">
        <p class="validateTips">All form fields are required.</p>
        <form action="/Management/UpdateTalking" method="post">
            <table>
                @foreach (var eve in Model.talking)
                {
                    <tr>
                        <td>eventID</td>
                        <td><input type="text" id="TxtEventId" name="EventId" value="@eve.EventId" /></td>
                    </tr>
                    <tr>
                        
                        @foreach (var perf in Model.performer)
                        {
                            if (eve.SpeakerOne.PerformerId == perf.PerformerId)
                            {
                                <td>PerformerName</td>
                                <td><input type="text" id="TxtArtist" name="PerformerImagePath" value="@perf.PerformerImagePath" /></td>
                                <td><input type="text" id="TxtArtist" name="PerformerInfo" value="@perf.PerformerInfo" /></td>
                                <td><input type="text" id="TxtArtist" name="PerformerName" value="@perf.PerformerName" /></td>
                                <td><input type="text" id="TxtArtist" name="PerformerId" value="@eve.SpeakerOne.PerformerId" /></td>
                            }
                            if (eve.SpeakerTwo.PerformerId == perf.PerformerId)
                            {
                                <td>PerformerName2</td>
                                <td><input type="text" id="TxtArtist" name="PerformerImagePath2" value="@perf.PerformerImagePath" /></td>
                                <td><input type="text" id="TxtArtist" name="PerformerInfo2" value="@perf.PerformerInfo" /></td>
                                <td><input type="text" id="TxtArtist" name="PerformerName2" value="@perf.PerformerName" /></td>
                                <td><input type="text" id="TxtArtist" name="PerformerId2" value="@eve.SpeakerTwo.PerformerId" /></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>Start Time</td>
                        <td><input type="time" id="TxtDateStart" name="EventStart" value="@eve.EventStart.TimeOfDay" /></td>
                    </tr>
                    <tr>
                        <td>End Time</td>
                        <td><input type="time" id="TxtDateEnd" name="EventEnd" value="@eve.EventEnd.TimeOfDay" /></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><input type="date" id="TxtDate" name="Date" value="@eve.EventStart.ToString("yyyy-MM-dd")" /></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><input type="text" id="TxtLocation" name="Location" value="@eve.Location" /></td>
                    </tr>
                    <tr>
                        <td>Seats</td>
                        <td><input type="text" id="TxtSeats" name="Seats" value="@eve.Seats" /></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" id="TxtPrice" name="Price" value="@eve.Price" /></td>
                    </tr>
                    <tr>
                        <td>Comments</td>
                        <td><input type="text" id="TxtComment" name="Comment" value="@eve.Comment" /></td>
                    </tr>}
            </table>
            <input type="submit" name="BtnSave" value="Create Event" />
        </form>
    </div>
</body>
</html>
