@Model Management
@{
	ViewBag.Title = "Index";
	Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Event Management</title>
	<link href="@Url.Content("~/Content/Management.css")" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
  $( function() {
      var dialog, form;

    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );

      valid = valid && checkLength( name, "username", 3, 16 );
      valid = valid && checkLength( email, "email", 6, 80 );
      valid = valid && checkLength( password, "password", 5, 16 );

      valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
      valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );

      if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + name.val() + "</td>" +
          "<td>" + email.val() + "</td>" +
          "<td>" + password.val() + "</td>" +
        "</tr>" );
        dialog.dialog( "close" );
      }
      return valid;
    }
    dialogUpdate = $( "#dialog-form-update" ).dialog({
        autoOpen: false,
        height: 400,
        width: 350,
        modal: true,
        buttons: {
            Cancel: function() {
                dialog.dialog( "close" );
            }
        }
    }
        )

    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });

    $( "#create-user" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });

    $("#cardbutton").button().on("click", function () {
        dialog.dialog("open");
    });
  });
	</script>
</head>
<body>
	<div id="dialog-form" title="Create new user">
		<p class="validateTips">All form fields are required.</p>
			<form action="/Management/SaveJazz" method="post">
				<table>
					<tr>
						<td>PerformerName</td>
						<td><input type="text" id="TxtArtist" name="Artist" value="" /></td>
					</tr>
					<tr>
						<td>Start Time</td>
						<td><input type="time" id="TxtDateStart" name="EventStart" /></td>
					</tr>
					<tr>
						<td>End Time</td>
						<td><input type="time" id="TxtDateEnd" name="EventEnd" value="" /></td>
					</tr>
                    <tr>
                        <td>Date</td>
                        <td><input type="date" id="TxtDate" name="Date" value="" /></td>
                    </tr>
					<tr>
						<td>Location</td>
						<td><input type="text" id="TxtLocation" name="Location" value="" /></td>
					</tr>
					<tr>
						<td>Venue</td>
						<td><input type="text" id="TxtHall" name="Hall" value="" /></td>
					</tr>
                    <tr>
                        <td>Seats</td>
                        <td><input type="text" id="TxtSeats" name="Seats" value="" /></td>
                    </tr>
					<tr>
						<td>Price</td>
						<td><input type="text" name="company" form="my_form" /></td>
					</tr>
					<tr>
						<td>Comments</td>
						<td><input type="text" name="company" form="my_form" /></td>
					</tr>
				</table>
                <input type="submit" name="BtnSave" value="Create Event" />
			</Form>
		</div>

	</div>
	<!-- Top Bar -->
	<div id="header">
		<!-- first box -->
		<div id="logo">
			<img src="Logo2.png" alt="Festival Logo">
		</div>
		<!-- second Box -->
		<div id="eventFilter">
			<h1> Manage Events</h1>
			<p> Filters</p>

            <p>@using (Html.BeginForm()) {
                <text>StartDate</text>@Html.DropDownList("startDate", new SelectList(ViewBag.StartDate))
                <input type="submit" value="Sort" />
            }</p>
			@*<div id="startDate">
				Date From
				<form action="/action_page.php">

					<select id="startDate">
						<option value="26-7 Thursday">26-7 Thursday</option>
						<option value="27-7 Friday">"27-7 Friday"</option>
						<option value="28-7 Saturday">"28-7 Saturday"</option>
						<option value="29-7 Sunday">"29-7 Sunday"</option>
					</select>
				</form>
			</div>*@
			<div id="endDate">
				<label> To</label>
				<form action="/action_page.php">
					<select id="startDate">
						<option value="26-7 Thursday">26-7 Thursday</option>
						<option value="27-7 Friday">"27-7 Friday"</option>
						<option value="28-7 Saturday">"28-7 Saturday"</option>
						<option value="29-7 Sunday">"29-7 Sunday"</option>
					</select>

				</form>
			</div>
			<div id="categorieFilter">
				<label> Event</label>
				<form action="/action_page.php">

					<select id="EventSelection">
						<option value="Jazz">Jazz</option>
						<option value="Talking">Talking</option>
					</select>

				</form>
			</div>
			<div id="button"
				 onclick="alert('Hello World!')">
				Filter
			</div>
		</div>
		<!-- legend box -->
		<div id="legend">
			<h2> Legend</h2>
			<img src="Legend.png" alt="Legend">
		</div>
		<!-- Detail level -->
		<div id="detail">
			<h3> Detail</h3>
			<form action="/action_page.php">
				<label> Detail level</label>
				<select id="detail">
					<option value="Small Event Cards">Small Event Cards</option>
					<option value="Medium Event Cards">Medium Event Cards</option>
					<option value="Table View">Table View</option>
				</select>
				</p>
			</form>
			</datalist>
			</form>
		</div>
		<div id="newEvent">
			<h4> New Event </h4>

			<label> Event Category</label>
			<form action="/action_page.php">
				<select id="detail">
					<option value="Jazz">Jazz</option>
					<option value="Talking">Talking</option>
					<option value="Table View">Table View</option>
				</select>
				</p>
			</form>
			<div id="create-user">
				Edit Event
			</div>
		</div>
		<div id="dataExport">
			<h5> Data Export </h5>
			<div id="button"
				 onclick="alert('Hello World!')">
				View Sales Data
			</div>
			<div id="button"
				 onclick="alert('Hello World!')">
				Export Sales Data
			</div>
		</div>
	</div>
	<div id="Events">
		<h2> Thursday 26-7</h2>
		@foreach (var fun in Model.jazz)

		{
			if ((fun.EventStart.Day) == 26)
			{
				<div id="smallCard">
					<div id="smallTop">
						<div id="topleft">
							Jazz
						</div>
						<div id="cardbutton"><a href="javascript:void(0);" class="anchorDetail" data-id="@fun.EventId">  Edit </a></div>
						 
						<div class="clearboth"></div>
					</div>
					<div id=smallBottom>
						@foreach (var perf in Model.performer)
						{
							if (fun.PerformerId == perf.PerformerId)
							{
								<p> @perf.PerformerName</p>}
						}
						<p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
						<p>@fun.Location</p>
						<p>@fun.Seats</p>
						<p>@fun.TicketsSold</p>
					</div>
				</div>}
		}<h2> Friday 27-7</h2>
		@foreach (var fun in Model.jazz)
		{
			if ((fun.EventStart.Day) == 27)
			{
				<div id="smallCard">
					<div id="smallTop">
						<div id="topleft">
							Jazz
						</div>
						<div id="cardbutton"> Edit </div>
						<div class="clearboth"></div>
					</div>
					<div id=smallBottom>
						@foreach (var perf in Model.performer)
						{
							if (fun.PerformerId == perf.PerformerId)
							{
								<p> @perf.PerformerName</p>}
						}
						<p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
						<p>@fun.Location</p>
						<p>@fun.Seats</p>
						<p>@fun.TicketsSold</p>
					</div>
				</div>}
		}<h2> Saturday 28-7</h2>
		@foreach (var fun in Model.jazz)
		{
			if ((fun.EventStart.Day) == 28)
			{
				<div id="smallCard">
					<div id="smallTop">
						<div id="topleft">
							Jazz
						</div>
						<div id="cardbutton"> Edit </div>
						<div class="clearboth"></div>
					</div>
					<div id=smallBottom>
						@foreach (var perf in Model.performer)
						{
							if (fun.PerformerId == perf.PerformerId)
							{
								<p> @perf.PerformerName</p>}
						}
						<p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
						<p>@fun.Location</p>
						<p>@fun.Seats</p>
						<p>@fun.TicketsSold</p>
					</div>
				</div>}
		}<h1> Sunday 29-7</h1>
		@foreach (var fun in Model.jazz)
		{
			if ((fun.EventStart.Day) == 29)
			{
				<div id="smallCard">
					<div id="smallTop">
						<div id="topleft">
							Jazz
						</div>
						<div id="cardbutton"> Edit </div>
						<div class="clearboth"></div>
					</div>
					<div id=smallBottom>
						@foreach (var perf in Model.performer)
						{
							if (fun.PerformerId == perf.PerformerId)
							{
								<p> @perf.PerformerName</p>}
						}
						<p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
						<p>@fun.Location</p>
						<p>@fun.Seats</p>
						<p>@fun.TicketsSold</p>
					</div>
				</div>}
		}
	</div>
	<div id="button" onclick="alert('Hello World!')">button test</div>
	<div id="editscreenjazz">
		<table>
			<tr>
				<td>Artist</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
			<tr>
				<td>Date</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
			<tr>
				<td>Time</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
			<tr>
				<td>Location</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
			<tr>
				<td>Venue</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
			<tr>
				<td>Price</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
			<tr>
				<td>Comments</td>
				<td><input type="text" name="company" form="my_form" /></td>
			</tr>
		</table>
	</div>
</body>
</html>
