@Model Management
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Event Management</title>
    <link href="@Url.Content("~/Content/Management.css")" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            var dialog, form;


            dialogUpdate = $( "#dialog-form-update" ).dialog({
                autoOpen: false,
                height: 400,
                width: 350,
                modal: true,
                buttons: {
                    Cancel: function() {
                        dialog.dialog( "close" );
                    }
                }
            }
                )
            dialog2 = $("#dialog-form2").dialog({
                autoOpen: false,
                height: 400,
                width: 350,
                modal: true,
                buttons: {
                    Cancel: function () {
                        dialog2.dialog("close");
                    }
                },
                close: function () {
                    form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });
            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 400,
                width: 350,
                modal: true,
                buttons: {
                    Cancel: function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    form[ 0 ].reset();
                    allFields.removeClass( "ui-state-error" );
                }
            });

            $( "#create-user" ).button().on( "click", function() {
                dialog.dialog( "open" );
            });

            $("#cardbutton").button().on("click", function () {
                dialog2.dialog("open");
                var eventid = $("#cardbutton").data("data-id")
                $("#TxtEventId").attr("value", eventid)
            });
            $('.expand').click(function () {
                $('ul', $(this).parent()).eq(0).toggle();
            });
            $(".filter").change(function () {
                var filterValue = $(this).val();
                var buttons = $('.EventDaySection');

                buttons.hide()
                buttons.each(function (i, el) {
                    if ($(el).attr('data-id') == filterValue) {
                        $(el).show();
                    }
                })
            });
            $(".filter2").change(function () {
                var filterValue = $(this).val();
                var smallCard = $('.smallCard');
                var bigCard = $('.bigCard');
                var TalkingTable = $('.TalkingTable');
                var JazzTable = $('.JazzTable');
                smallCard.hide()
                bigCard.hide()
                TalkingTable.hide()
                JazzTable.hide()
                $('.TalkingTable').hide()
                $('.JazzTable').hide()
                if (filterValue == 'smallcard') {
                    smallCard.show();
                }
                if (filterValue == 'bigcard') {
                    bigCard.show();
                }
                if (filterValue = 'tableview') {
                    TalkingTable.show();
                    JazzTable.show();
                }
            })
            $(".EventFilter").change(function () {
                var filterValue = $(this).val();
                var jazzCard = $('.JazzCard')
                var talkingCard = $('.TalkingCard')
                var TalkingTable = $('.TalkingTable');
                var JazzTable = $('.JazzTable');
                jazzCard.hide()
                talkingCard.hide()
                TalkingTable.hide()
                JazzTable.hide()
                if (filterValue == 'Jazz') {
                    jazzCard.show();
                }
                if (filterValue == 'Talking') {
                    talkingCard.show();
                }
                if (filterValue == 'All') {
                    talkingCard.show();
                    jazzCard.show();
                }

            })
            $(document).ready(function () {
                var smallCard = $('.smallCard');
                var bigCard = $('.bigCard');
                var TalkingTable = $('.TalkingTable');
                var JazzTable = $('.JazzTable');
                bigCard.hide()
                TalkingTable.hide()
                JazzTable.hide()
            });

            });
    </script>
</head>
<body>
    @* code voor event Toevoegen pop-up*@
    <div id="dialog-form" title="Create new Event">
        <p class="validateTips">All form fields are required.</p>
        <form action="/Management/SaveJazz" method="post">
            <div id="eventidfield" value=""></div>
            <table>
                <tr>
                    <td>PerformerName</td>
                    <td><input type="text" id="TxtArtist" name="Artist" value="" /></td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td><input type="time" id="TxtDateStart" name="EventStart" value="" /></td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td><input type="time" id="TxtDateEnd" name="EventEnd" value="" /></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type="date" id="TxtDate" name="Date" value="" /></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" id="TxtLocation" name="Location" value="" /></td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td><input type="text" id="TxtHall" name="Hall" value="" /></td>
                </tr>
                <tr>
                    <td>Seats</td>
                    <td><input type="text" id="TxtSeats" name="Seats" value="" /></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Comments</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
            </table>
            <input type="submit" name="BtnSave" value="Create Event" />
        </form>
    </div>
    @* scherm voor Update JAzz*@
    <div id="dialog-form2" title="Update Event">
        <p class="validateTips">All form fields are required.</p>
        <form action="/Management/UpdateJazz" method="post">
            <table>
                <tr>
                    <td>eventID</td>
                    <td><input type="text" id="TxtEventId" name="EventId" value="" /></td>
                </tr>
                <tr>
                    <td>PerformerName</td>
                    <td><input type="text" id="TxtArtist" name="Artist" value="" /></td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td><input type="time" id="TxtDateStart" name="EventStart" /></td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td><input type="time" id="TxtDateEnd" name="EventEnd" value="" /></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type="date" id="TxtDate" name="Date" value="" /></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input type="text" id="TxtLocation" name="Location" value="" /></td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td><input type="text" id="TxtHall" name="Hall" value="" /></td>
                </tr>
                <tr>
                    <td>Seats</td>
                    <td><input type="text" id="TxtSeats" name="Seats" value="" /></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
                <tr>
                    <td>Comments</td>
                    <td><input type="text" name="company" form="my_form" /></td>
                </tr>
            </table>
            <input type="submit" name="BtnSave" value="Create Event" />
        </form>

    </div>
    <!-- Top Bar -->
    <div id="header">
        <!-- first box -->
        <div id="logo">
            <img src="Logo2.png" alt="Festival Logo">
        </div>
        <!-- second Box -->
        <div id="eventFilter">
            <h1> Manage Events</h1>
            <p> Filters</p>

            <p>
                <select class="filter" data-tableId="table1">
                    <option value="26-7">26-7</option>
                    <option value="27-7">27-7</option>
                    <option value="28-7">28-7</option>
                    <option value="29-7">29-7</option>
                </select>
            </p>
            <div id="categorieFilter">
                <label> Event</label>>

                <select class="EventFilter" id="EventSelection">
                    <option value="Jazz">Jazz</option>
                    <option value="Talking">Talking</option>
                    <option value="All">All</option>
                </select>
            </div>
            <div id="button"
                 onclick="alert('Hello World!')">
                Filter
            </div>
        </div>
        <!-- legend box -->
        <div id="legend">
            <h2> Legend</h2>
            <img src="Legend.png" alt="Legend">
        </div>
        <!-- Detail level -->
        <div id="detail">
            <h3> Detail</h3>
            <form action="/action_page.php">
                <label> Detail level</label>
                <select class="filter2" data-tableId="table1">
                    <option value="smallcard">Small Card</option>
                    <option value="bigcard">Big Card</option>
                    <option value="tableview">Table View</option>
                </select>
                </p>
            </form>
        </div>
        <div id="newEvent">
            <h4> New Event </h4>

            <label> Event Category</label>
            @{Html.BeginForm("CreateEvent", "Management");}
            <input type="radio" name="Event" value="Jazz" />Jazz<br>
            <input type="radio" name="Event" value="Talking" />Talking<br>
            <input type="submit" value="New Event" />
            @{Html.EndForm();}
            <div id="create-user">
                Edit Event
            </div>
        </div>
        <div id="dataExport">
            <h5> Data Export </h5>
            View Sales Data
            @{Html.BeginForm("ExportToExcel", "Management");}
            <input type="submit" value="Export to Excel" class="button" />
            @{Html.EndForm();}
        </div>
        <input type="submit" value="Export to Excel" class="button" />
        Export Sales Data
    </div>
    </div>
    </div>
    <div id="TreeNode">
        <ul>
            <li>
                <a class="expand">26-7</a>
                <ul>
                    <a class="expand">
                        @foreach (var jazz in Model.jazz)
                        {
                            if ((jazz.EventStart.Day) == 26)
                            {<a class="expand">
                            @foreach (var perf in Model.performer)
                            {
                                if (jazz.PerformerId == perf.PerformerId)
                                {
                                    <li><p> @perf.PerformerName</p></li>}
                            }
                        </a>
                            }
                        }
                    </a>
                </ul>
            </li>
            <li>
                <a class="expand">27-7</a>
                <ul>
                    <li>
                        <a class="expand">
                            @foreach (var jazz in Model.jazz)
                            {
                                if ((jazz.EventStart.Day) == 27)
                                {<a class="expand">
                            @foreach (var perf in Model.performer)
                            {
                                if (jazz.PerformerId == perf.PerformerId)
                                {
                        <li><p> @perf.PerformerName</p></li>}
                            }
                            </a>
                                }
                            }
                            </a>
                    </li>
                </ul>
                </li>
                <li>
                    <a class="expand">28-7</a>
                    <ul>
                        <li>
                            <a class="expand">
                                @foreach (var jazz in Model.jazz)
                                {
                                    if ((jazz.EventStart.Day) == 28)
                                    {<a class="expand">
                            @foreach (var perf in Model.performer)
                            {
                                if (jazz.PerformerId == perf.PerformerId)
                                {
                        <li><p> @perf.PerformerName</p></li>}
                            }
                            </a>
                                    }
                                }
                                </a>
                        </li>
                        </ul>
                        </li>
                        <li>
                            <a class="expand">29-7</a>
                            <ul>
                                <li>
                                    <a class="expand">
                                        @foreach (var jazz in Model.jazz)
                                        {
                                            if ((jazz.EventStart.Day) == 29)
                                            {<a class="expand">
                            @foreach (var perf in Model.performer)
                            {
                                if (jazz.PerformerId == perf.PerformerId)
                                {
                        <li><p> @perf.PerformerName</p></li>}
                            }
                            </a>
                                            }
                                        }
                                        </a>
                                </li>
                                </ul>
                                </li>
                                </ul>

                            </div>
                            @*om het geselecteerde event te pakken ga ik terug naar de controller en het eventid meesturen*@
                            <div id="Events">
                                <div class="EventDaySection" id="EventDaySection" data-id="26-7">
                                    <h2> Thursday 26-7</h2>
                                    <div class="JazzCard">
                                        @foreach (var fun in Model.jazz)

            {
                if ((fun.EventStart.Day) == 26)
                {
                                                <div class="smallCard" id="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Hall</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                                }
                                                            }
                                    </div>
                                    <div class="TalkingCard">
                                        @foreach (var fun in Model.talking)

            {
                if ((fun.EventStart.Day) == 26)
                {
                                                <div id="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Talking
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                                                            if (fun.SpeakerTwo.PerformerId == perf.PerformerId)
                                                            {
                                                                <p> @perf.PerformerName</p>
                                                            }

                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                                }
                                                            }
                                    </div>
                                </div>
                                <div class="EventDaySection" id="EventDaySection" data-id="27-7">
                                    <h2> Friday 27-7</h2>
                                    <div class="JazzCard">
                                        @foreach (var fun in Model.jazz)
                                        {
                                            if ((fun.EventStart.Day) == 27)
                                            {
                                                <div id="smallCard" class="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Hall</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>}
                                                            }
                                    </div>
                                    <div class="TalkingCard">
                                        @foreach (var fun in Model.talking)

            {
                if ((fun.EventStart.Day) == 27)
                {
                                                <div id="smallCard" class="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}

                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Talking
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                                                            if (fun.SpeakerTwo.PerformerId == perf.PerformerId)
                                                            {
                                                                <p> @perf.PerformerName</p>
                                                            }

                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                                }
                                                            }
                                    </div>
                                </div>
                                <div class="EventDaySection" id="EventDaySection" data-id="28-7">
                                    <h2> Saturday 28-7</h2>
                                    <div class="JazzCard">
                                        @foreach (var fun in Model.jazz)
                                        {
                                            if ((fun.EventStart.Day) == 28)
                                            {
                                                <div id="smallCard" class="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                                                        {
                                                            if (fun.PerformerId == perf.PerformerId)
                                                            {
                                                                <p> @perf.PerformerName</p>}
                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                                                        {
                                                            if (fun.PerformerId == perf.PerformerId)
                                                            {
                                                                <p> @perf.PerformerName</p>}
                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Hall</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>}
                                                            }
                                    </div>
                                    <div class="TalkingCard">
                                        }@foreach (var fun in Model.talking)

                                        {
                                            if ((fun.EventStart.Day) == 28)
                                            {
                                                <div id="smallCard" class="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Talking
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                                                            if (fun.SpeakerTwo.PerformerId == perf.PerformerId)
                                                            {
                                                                <p> @perf.PerformerName</p>
                                                            }

                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                                }
                                                            }
                                    </div>
                                </div>
                                <div class="EventDaySection" id="EventDaySection" data-id="29-7">
                                    <h1> Sunday 29-7</h1>
                                    <div class="JazzCard">
                                        @foreach (var fun in Model.jazz)
            {
                if ((fun.EventStart.Day) == 29)
                {
                                                <div id="smallCard" class="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Hall</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>}
                                                            }
                                    </div>
                                    <div class="TalkingCard">
                                        @foreach (var fun in Model.talking)

            {
                if ((fun.EventStart.Day) == 29)
                {
                                                <div id="smallCard" class="smallCard">
                                                    <div id="smallTop">
                                                        <div id="topleft">
                                                            Jazz
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=smallBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                    }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>
                                                <div class="bigCard" id="bigCard">
                                                    <div id="bigTop">
                                                        <div id="topleft">
                                                            Talking
                                                        </div>
                                                        @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                        <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@fun.EventId" /></div>
                                                        <input type="submit" value="Edit" />
                                                        @{Html.EndForm();}
                                                        <div class="clearboth"></div>
                                                    </div>
                                                    <div id=bigBottom>
                                                        @foreach (var perf in Model.performer)
                    {
                        if (fun.SpeakerOne.PerformerId == perf.PerformerId)
                        {
                                                                <p> @perf.PerformerName</p>}
                                                            if (fun.SpeakerTwo.PerformerId == perf.PerformerId)
                                                            {
                                                                <p> @perf.PerformerName</p>
                                                            }

                                                        }
                                                        <p>@fun.EventStart.Hour : @fun.EventStart.Minute - @fun.EventEnd.Hour : @fun.EventEnd.Minute</p>
                                                        <p>@fun.Location</p>
                                                        <p>price</p>
                                                        <p>comment</p>
                                                        <p>@fun.Seats</p>
                                                        <p>@fun.TicketsSold</p>
                                                    </div>
                                                </div>

                                                                }
                                                            }
                                    </div>
                                </div>
                                <div id="JazzTable" class="JazzTable">
                                    <table class="tg">
                                        <tr>
                                            <th class="tg-yw4l">Date</th>
                                            <th class="tg-yw4l">Day</th>
                                            <th class="tg-yw4l">Time</th>
                                            <th class="tg-yw4l">Location</th>
                                            <th class="tg-yw4l">Hall</th>
                                            <th class="tg-yw4l">Band</th>
                                            <th class="tg-yw4l">Seats</th>
                                            <th class="tg-yw4l">Price</th>
                                            <th class="tg-yw4l"></th>
                                        </tr>
                                        @foreach (var eve in Model.jazz)
            {
                                            <tr>
                                                <td class="tg-yw4l">@eve.EventStart</td>
                                                <td class="tg-yw4l">@eve.EventStart</td>
                                                <td class="tg-yw4l">@eve.EventStart</td>
                                                <td class="tg-yw4l">@eve.Location</td>
                                                <td class="tg-yw4l">@eve.Hall</td>
                                                @foreach (var perf in Model.performer)
                {
                    if (eve.PerformerId == perf.PerformerId)
                    {
                                                        <td class="tg-yw4l">@perf.PerformerName</td>
                                                    }
                                                }
                                                <td class="tg-yw4l">@eve.Seats</td>
                                                <td class="tg-yw4l">price</td>
                                                <td class="tg-yw4l">
                                                    @{Html.BeginForm("GetSelectedEvent", "Management");}
                                                    <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@eve.EventId" /></div>
                                                    <input type="submit" value="Edit" />
                                                    @{Html.EndForm();}
                                                </td>
                                            </tr>
                                                        }
                                    </table>
                                </div>
                                <div id="TalkingTable" class="TalkingTable">
                                    <table class="tg">
                                        <tr>
                                            <th class="tg-031e">Date</th>
                                            <th class="tg-031e">Day</th>
                                            <th class="tg-031e">Time</th>
                                            <th class="tg-031e">Location</th>
                                            <th class="tg-031e">Performer1</th>
                                            <th class="tg-031e">Performer2</th>
                                            <th class="tg-031e">Seats</th>
                                            <th class="tg-031e">Price</th>
                                            <th class="tg-031e">Edit</th>
                                        </tr>
                                        @foreach (var eve in Model.talking)
                                        {
                                            <tr>
                                                <td class="tg-031e">@eve.EventStart</td>
                                                <td class="tg-031e">@eve.EventStart.Day</td>
                                                <td class="tg-031e">@eve.EventStart.Hour : @eve.EventStart.Minute</td>
                                                <td class="tg-031e">@eve.Location</td>
                                                @foreach (var perf in Model.performer)
                {
                    if (eve.SpeakerOne.PerformerId == perf.PerformerId)
                    {
                                                        <td class="tg-yw4l">@perf.PerformerName</td>
                                                    }
                                                    if (eve.SpeakerOne.PerformerId == perf.PerformerId)
                                                    {
                                                        <td class="tg-yw4l">@perf.PerformerName</td>
                                                    }
                                                }
                                                <td class="tg-031e">@eve.Seats</td>
                                                <td class="tg-031e">price</td>
                                                <td class="tg-031e">
                                                    @{Html.BeginForm("GetSelectedTalkingEvent", "Management");}
                                                <div class="hidethis" style="display: none;"><input type="text" name="eventid" value="@eve.EventId" /></div>
                                                <input type="submit" value="Edit" />
                                                @{Html.EndForm();}
                                            </td>
                                        </tr>
                                                    }
                                    </table>
                                </div>
                            </div>

                        </body>
                    </html>
