@using Haarlem_Festival.ViewModels
@model IEnumerable<Haarlem_Festival.ViewModels.CartItemViewModel>

<div class="agenda-big-block">
    <div class="agenda-block-header">
        <p class="block-header-title">Haarlem Festival Agenda</p>
    </div>
    <div class="agenda-table-wrap">

    </div>
</div>

<div class="agenda-sc-block" id="checkout">
    <div class="agenda-sc-block-header">
        <p class="block-header-title">Shopping Cart</p>
    </div>
    <div class="agenda-cart-wrap">
        <div class="agenda-cart-head">
            <span class="ac-event">Event</span>
            <span class="ac-date">Date</span>
            <span class="ac-time">Time</span>
            <span class="ac-location">Location</span>
            <span class="ac-amount">Amount</span>
            <span class="ac-price-head">Price per ticket</span>
        </div>
        <div id="agenda-shopping-cart-rows" class="agenda-cart-row-box">
            @foreach (CartItemViewModel item in Model)
            {
                <div id="event-@item.EventId" class="agenda-cart-row">
                    <span class="ac-event">@item.Performers()</span>
                    <span class="ac-date">@item.EventDate</span>
                    <span class="ac-time">@item.EventTime</span>
                    <span class="ac-location">@item.LocationHall()</span>
                    <span class="ac-amount">
                        <input type="number" value="@item.Amount" min="0" oninput="validity.valid||(value='');" class="ac-amount-input" />
                    </span>
                    <span class="ac-price">@item.Price.ToString("€0.00")</span>
                </div>
            }
        </div>
        <div class="agenda-cart-head no-margin-top">
            <span class="ac-event">Total:</span>
            <span class="ac-date">&nbsp;</span>
            <span class="ac-time">&nbsp;</span>
            <span class="ac-location">&nbsp;</span>
            <span class="ac-amount">&nbsp;</span>
            <span id="price-total" class="ac-price-head">€0,00</span>
        </div>
    </div>
</div>

<div class="agenda-payment-block" id="checkout">
    <div class="agenda-payment-block-header">
        <p class="block-header-title">Shopping Cart</p>
    </div>
    <div class="agenda-payment-wrap">
        <form action="/Agenda/Index" method="post">
            <p class="agenda-payment-p">Please enter your e-mail address. The tickets will be sent to the entered e-mail address after completing the payment.</p>
            <label for="agenda-email">E-mail address:</label>
            <input type="email" class="agenda-payment-email" placeholder="email@domain.com" name="EmailAddress" />
            <br />
            <p>Please select a payment option:</p>
            <div class="margin-bot-10">
                <input type="radio" class="agenda-payment-radio" id="ideal" name="PaymentMethod" value="IDeal" />
                <label for="ideal"><img src="~/Content/img/agenda/btn-ideal.png" class="payment-button" /></label>
            </div>
            <div>
                <input type="radio" class="agenda-payment-radio" id="paypal" name="PaymentMethod" value="PayPal" />
                <label for="paypal"><img src="~/Content/img/agenda/btn-paypal2.png" class="payment-button" /></label>
            </div>

            <input type="submit" class="action-btn payment-action-btn" value="Continue to payment" />
        </form>
    </div>
</div>